# Airtable
AIRTABLE_API_KEY=key_xxx
AIRTABLE_BASE_ID=app_xxx
AIRTABLE_TABLE_PROJECTS=Projects
AIRTABLE_TABLE_OPPORTUNITIES=Opportunities
AIRTABLE_TABLE_AGREEMENTS=Agreements
AIRTABLE_TABLE_MILESTONES=Milestones
AIRTABLE_TABLE_COMPLIANCE=Compliance
AIRTABLE_TABLE_RELATIONSHIPS=Relationships
AIRTABLE_TABLE_FINANCE=FinanceLite

# Auth (choose one)
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_xxx
CLERK_SECRET_KEY=sk_test_xxx
NEXT_PUBLIC_GOOGLE_CLIENT_ID=xxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=xxx

NEXT_PUBLIC_APP_URL=http://localhost:3000
